<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Welcome to Employee Management App</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <p>Manage your employees data</p>
      <p>
       Login <a href="{{ route('login.index') }}">here</a>.
      </p>
    </div>
  </section>
</body>
</html>
