<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <title>Employee Detail</title>
</head>
<body>

<div class="container" style="margin-top: 80px">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Employee Detail
        </div>
        <div class="card-body">
			<div style="border: 1px solid black">Name : {{ employee.name }}</div>
			<div style="border: 1px solid black">Email : {{ employee.email }}</div>
			<div style="border: 1px solid black">Role : {{ employee.role }}</div>
			<div style="border: 1px solid black">Directorate : {{ employee.directorate }}</div>
			<div style="border: 1px solid black">Address : {{ employee.address }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>